[submodule "pack/plugins/start/copilot.vim"]
	path = pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/start/gitsigns.nvim"]
	path = pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
